a:link 		{ text-decoration: none !important;}
a:visited { text-decoration: none !important;}
a:hover 	{ text-decoration: none !important;}
a:active 	{ text-decoration: none !important;}

html {
}

#facets
{
  top: 0;
  bottom:0;
  position:fixed;
  overflow-x:hidden;
}

@font-face 
{
  font-family: 'GBVIcons';
  src: url('../fonts/gbv-webfont.eot');
  src: url('../fonts/gbv-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gbv-webfont.woff2') format('woff2'),
       url('../fonts/gbv-webfont.woff') format('woff'),
       url('../fonts/gbv-webfont.ttf') format('truetype'),
       url('../fonts/gbv-webfont.svg#GBVIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.NoLeftMargin
{
  margin-left: 0px !important;
}

@media (max-width:767px)
{
  .LeftOffset1, .LeftOffset2
  {
    margin-left: 0px !important;
  }
}
@media (min-width:768px) and (max-width:991px)
{
  .LeftOffset1
  {
    margin-left: 8.3% !important;
  }

  .LeftOffset2
  {
    margin-left: 16.6% !important;
  }
}

.gbvicon
{
    font-family: 'GBVIcons';
    display: inline-block;
    vertical-align: top;

    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;    
}

.icon_datapool
{
  width: 100px;
}

@media (max-width:766px)
{
  .preview-first-col
  {
    width: 40px;
  }
  .preview-icon
  {
    display: inline-block;
    text-align: center;
    font-size: 36px;
    line-height: 30px;
    width: 36px;
    cursor: default;
  }
  .preview-counter
  {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 8px;
    width: 36px;
  }
}

@media (min-width:767px)
{
  .preview-first-col
  {
    width: 80px;
  }
  .preview-icon
  {
    display: inline-block; 
    text-align: center;
    font-size: 75px;
    line-height: 60px;
    width: 75px;
    cursor: default;
  }

  .preview-counter
  {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    width: 75px;
  }
}

.tooltip-arrow,
.countSettings + .tooltip > .tooltip-inner 
{
  background-color: yellow;
  color: black;
}

.publication-icon
{
  font-size: 50px;
  line-height: 40px;
  width: 50px;
  cursor: default;
}

#pubyear2
{
  margin-top: 10px;
}

.text-top
{
  vertical-align: top;
}

.query
{
  background: #d9edf7;
  border: 1px solid black;
  word-break: break-word;
}

@media (max-width:991px)
{
  body 
  {
	  padding-top: 140px;
  	background-repeat: no-repeat;
  }
  #facets
  {
    margin-top: 140px;
  }
}

@media (min-width:992px)
{
  body 
  {
	  padding-top: 90px;
  	background-repeat: no-repeat;
  }
  #facets
  {
    margin-top: 90px;
  }
}

.navbar .navbar-form 
{
    padding: 5px 15px;

    border: 0;
    -webkit-box-shadow: none;
    -webkit-appearance:none;
    box-shadow: none;
}

.navbar-header
{
    padding-right: 15px;
}

.navbar-toggle
{
    margin-right: 0px;
}

.navbar-button-color,
.navbar-button-color:hover,
.navbar-button-color:visited,
.navbar-button-color:active
{
	border: 1px solid gray;
}

.navbar-panel-color a
{
  cursor: pointer;
}

.navbar-panel-color a:hover
{
  cursor: pointer;
}

.navbar-brand 
{ 
    margin-top: 3px;
    height : 53px;
    display: block;
}

@media (max-width:766px)
{
  .navbar-brand 
  { 
    width : 70px;
    background : url(../img/ihrlogo_xs.png) no-repeat 0 0;
  }
}
@media (min-width:767px)
{
  .navbar-brand 
  { 
    width : 200px;
    margin-left: 0px !important;
    background : url(../img/ihrlogo_md.png) no-repeat 0 0;
  }
}

.info-menu
{
  position:absolute;top:100%;
  right:0;z-index:1000;
  display:none;
  float:left;
  width:700px;
  padding:20px;
  margin:2px 0 0;
  font-size:14px;
  text-align:left;
  list-style:none;
  background-color:#fff;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:1px solid #ccc;
  border:1px solid rgba(0,0,0,.15);
  border-radius:4px;
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
  box-shadow:0 6px 12px rgba(0,0,0,.175)
}

.inlineedit
{
  border-bottom: dashed 1px #0088cc;
  cursor: pointer;
}

.left-padding
{
  padding-left: 5px;
}

.search
{
  border: 1px solid #2F87e7;
  border-radius: 4px;
}

.input-lg
{
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  margin-top: 1px !important;
}

.settings
{
  border: 1px solid #fff !important;
}

.search_text
{
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);  
}

.startsearch
{
  border: 1px solid #fff !important;
}

.mobilefacets
{
  border: 1px solid #fff !important;
}

.button-left-round
{
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.button-right-round
{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.button-lg-left-round
{
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.button-lg-right-round
{
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.start-header
{
	border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hideLoading 
{
    display: none;
}

.showLoading 
{
    display: block;
}

.noUi-connect 
{
    background: gray !important;
}

.badge
{
  border-radius: 5px;
  padding: 1px 2px;
}

.panel
{
	border-radius: 3px;
	border: 1px solid gray !important;
}

.preview
{
	margin-right: 10px;
}

.table-layout 
{
    display:table;
    width:100%;
}

.table-layout 
.table-cell
{
  display:table-cell;
  vertical-align: top;
  padding-top: 1px;
}

.tabcell
{
  display:table-cell;
  vertical-align: top;
  padding-top: 0px !important;
  line-height:1 !important;
}

.preview-second-col
{
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;    
}

.preview-header
{
	border-top-left-radius: 3px;
  border-top-right-radius: 3px;
	padding: 10px !important;
}

.preview-text
{
  text-overflow: ellipsis;
  overflow: hidden;
}

.counter
{
  margin-right: 0px;
  margin-left: 2px;
}

.bootstrap-dialog-title
{
	width: 100%;
}

.tab-content {
    padding: 5px 5px 0px 5px;
}

.close
{
	margin-left: 10px;
}

.fullview-button-left
{
	float: left;
}

.table
{
  margin-bottom: 5px !Important; 
}

.tablemiddle
{
  vertical-align: middle !important;
}

.btn-exemplar 
{
  display: inline-block;
  vertical-align: middle !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  min-height:60px;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.btn-tiny
{
  padding: 1px 2px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 400;
}

.empty-exemplar,
.empty-exemplar:hover,
.empty-exemplar:focus
{
  vertical-align: top !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  padding: 0px;
  min-height:60px;
  cursor: default;
  color: inherit;
  background-color: inherit;
  border-color: inherit; 
}

.publication
{
  padding: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  min-height:60px;
}

.borderless tbody tr td, 
.borderless tbody tr th, 
.borderless thead tr th 
{
    border: none;
}

.rowheight-reduced tbody tr td, 
.rowheight-reduced tbody tr th, 
.rowheight-reduced tfoot tr td, 
.rowheight-reduced tfoot tr th, 
.rowheight-reduced thead tr td, 
.rowheight-reduced thead tr th 
{
  padding: 2px;
}

.space 
{
    padding: 20px;
}


.space_buttons 
{
  padding-top: 10px;
}

.wait 
{
  position: fixed;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
}

.wait > .modal-dialog
{
  width: 80px;
  height: 80px;
}

.wait > .modal-dialog > .modal-content > .modal-body > 
.bootstrap-dialog-body > .bootstrap-dialog-message 
{
  height: 50px;
}

/* Spin Icon */
.outercircle 
{
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-right: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2F87e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear;
}

.innercircle 
{
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search_clear 
{
  position: absolute;
  right: 5px;
  top: 3px;
  bottom: 0px;
  cursor: pointer;
  z-index: 20;
  color: red;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.editbutton
{
  width: 40px;
  margin-bottom: 5px;
}
.clear-left 
{
  clear: left
}
.clear-right 
{
  clear: right
}
.editul 
{
  padding: 0 !important;
  margin: 0 !important;
}
.editli 
{
  padding: 10px;
  list-style-type: none;
}
.editempty
{
  color: black;
  font-style: italic;
  font-size: 90%;
}

.yearinput
{
  width: 100px !important;
}

.notify-text
{ 
  margin-top: .3em; 
}

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .row-auto > .col-lg-1:nth-child(12n+1),
  .row-auto > .col-lg-2:nth-child(6n+1),
  .row-auto > .col-lg-3:nth-child(4n+1),
  .row-auto > .col-lg-4:nth-child(3n+1),
  .row-auto > .col-lg-6:nth-child(2n+1),
  .row-auto > .col-md-1:nth-child(12n+1),
  .row-auto > .col-md-2:nth-child(6n+1),
  .row-auto > .col-md-3:nth-child(4n+1),
  .row-auto > .col-md-4:nth-child(3n+1),
  .row-auto > .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .row-auto > .col-sm-1:nth-child(12n+1),
  .row-auto > .col-sm-2:nth-child(6n+1),
  .row-auto > .col-sm-3:nth-child(4n+1),
  .row-auto > .col-sm-4:nth-child(3n+1),
  .row-auto > .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .row-auto > .col-lg-1:nth-child(12n+1),
  .row-auto > .col-lg-2:nth-child(6n+1),
  .row-auto > .col-lg-3:nth-child(4n+1),
  .row-auto > .col-lg-4:nth-child(3n+1),
  .row-auto > .col-lg-6:nth-child(2n+1),
  .row-auto > .col-sm-1:nth-child(12n+1),
  .row-auto > .col-sm-2:nth-child(6n+1),
  .row-auto > .col-sm-3:nth-child(4n+1),
  .row-auto > .col-sm-4:nth-child(3n+1),
  .row-auto > .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .row-auto > .col-md-1:nth-child(12n+1),
  .row-auto > .col-md-2:nth-child(6n+1),
  .row-auto > .col-md-3:nth-child(4n+1),
  .row-auto > .col-md-4:nth-child(3n+1),
  .row-auto > .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .row-auto > .col-md-1:nth-child(12n+1),
  .row-auto > .col-md-2:nth-child(6n+1),
  .row-auto > .col-md-3:nth-child(4n+1),
  .row-auto > .col-md-4:nth-child(3n+1),
  .row-auto > .col-md-6:nth-child(2n+1),
  .row-auto > .col-sm-1:nth-child(12n+1),
  .row-auto > .col-sm-2:nth-child(6n+1),
  .row-auto > .col-sm-3:nth-child(4n+1),
  .row-auto > .col-sm-4:nth-child(3n+1),
  .row-auto > .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .row-auto > .col-lg-1:nth-child(12n+1),
  .row-auto > .col-lg-2:nth-child(6n+1),
  .row-auto > .col-lg-3:nth-child(4n+1),
  .row-auto > .col-lg-4:nth-child(3n+1),
  .row-auto > .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}