@import url(https://fonts.googleapis.com/css?family=Raleway);

a:link 		{ color: black !important;}
a:visited { color: black !important;}
a:hover 	{ color: black !important;}
a:active 	{ color: black !important;}

body 
{
  font-family: 'Raleway', sans-serif;
	background-repeat: no-repeat;
}

.navbar
{
	background-color: #F0DEBD ;
	color: black;
}

.navbar-button-color
{
	background: #EAE8E3;
	color: black;
	border: 1px solid black;
}
.navbar-button-color:hover 
{
	background: grey;
	color: black;
	border: 1px solid black;
}

.navbar-panel-color
{
  background: #EAE8E3;
  color: black;
}

.navbar-panel-color a
{
  color: black;
}

.navbar-panel-color a:hover
{
  color: black !important;
}

.search
{
	border: 1px solid black;
	border-radius: 4px;
}

.search_text
{
	border: 1px solid black !important;
}

.carousel-inner img {
  margin: auto;
}

#FACETTITLE
{
	color: black;
}

.noUi-connect 
{
    background: #EAE8E3 !important;
}

.badge
{
  background-color: #EAE8E3;
  font-weight: 300;
  color: black;
}

.panel
{
	border: 1px solid #96999C;
}

.start-header
{
	background-color: #EAE8E3 ;
	color: black;
}

.start-body
{
	background: #fff;
}

.start-footer
{
	background-color: #EAE8E3 ;
	color: black;
}

.preview-header
{
	background-color: #F0DEBD ;
	color: black;
}

.preview-body
{
	background: #fff;
}

.preview-footer
{
	background-color: #EAE8E3 ;
	color: black;
}

.customer-link
{
	color: black;
	text-decoration: none;
}

.btn-exemplar 
{
  color: black;
  background-color: #F0DEBD ;
}

.fullview-button-color
{
	background: #EAE8E3;
	color: black;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover 
{
    color: #000000 !important;
    text-decoration: none;
    background-color: #F0DEBD;
    outline: 0;
}